/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --main: #add8e6;
  --secondary: rgb(17, 17, 46);
  --action: var(--primary);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bs-gray-200);
  margin: 0;
  font-family: "Poppins" !important;
  font-size: 16px;
  /* color: var(--bs-gray-900); */
  color: var(--secondary);
}

nav .selected {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
  border-radius: var(--bs-border-radius-pill) !important;
}

nav.menu {
  z-index: 2000;
}

nav.menu {
  background-color: rgba(0 0 0 / .75) !important;
}

.btn-secondary {
  color: #41464b !important;
  background-color: #e2e3e5 !important;
}

/* targets job form notes input, subject and message fields */
.form-control.is-invalid .form-control-plaintext::placeholder,
.form-control.is-invalid .form-control-plaintext::-webkit-input-placeholder {
  color: var(--bs-danger) !important;
}

.list-group li {
  list-style: none;
}

.maxWidth1400px {
  max-width: 1400px;
}

.text-navy {
  color: var(--secondary);
}

.background-navy {
  background-color: var(--secondary);
}

.background-white {
  background-color: var(--bs-white);
}

/* targets nav bar and overview containers */
.theme-light {
  background-color: var(--bs-white);
}

.inputError {
  margin-left: .25rem;
  color: var(--bs-danger);
}

.inputError::before {
  content: ': ';
}

.required::before {
  content: '* ';
  color: var(--bs-danger);
}

.outline {
  outline: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius) !important;
}

.text-green {
  color: var(--primary) !important;
}

.scrollBar::-webkit-scrollbar {
  width: 3px;
}

.scrollBar::-webkit-scrollbar-track {
  background: var(--bs-gray-200);
}

.scrollBar::-webkit-scrollbar-thumb {
  background: var(--bs-primary) !important;
}

.smallPrint {
  font-size: .75rem;
}

.selectList {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 100%;
  margin-top: .5rem;
  overflow-y: scroll;
  max-height: 300px;
}

/* small screen and above */
@media screen and (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }
}

/* medium screen and above */
@media screen and (min-width: 768px) {
  .rounded-md-top-end {
    border-top-right-radius: var(--bs-border-radius) !important;
  }

  .rounded-md-top-end-0 {
    border-top-right-radius: 0 !important;
  }

  .rounded-md-bottom-start {
    border-bottom-left-radius: var(--bs-border-radius) !important;
  }

  .rounded-md-bottom-start-0 {
    border-bottom-left-radius: 0 !important;
  }
}

/* large screen and above */
@media screen and (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}