/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bs-gray-200);
  margin: 0;
  font-family: "Poppins" !important;
  font-size: 16px;
  color: var(--bs-gray-900);
}

nav .selected {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
  border-radius: var(--bs-border-radius-pill) !important;
}

nav.menu {
  z-index: 2000;
}

nav.menu {
  background-color: rgba(0 0 0 / .75) !important;
}

.maxWidth1400px {
  max-width: 1400px;
}

/* targets nav bar and overview containers */
.theme-light {
  background-color: var(--bs-white);
}

.inputError {
  margin-left: .25rem;
  color: var(--bs-danger);
}

.inputError::before {
  content: ': ';
}

.required::before {
  content: '* ';
  color: var(--bs-danger);
}

.outline {
  outline: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.text-green {
  color: var(--primary) !important;
}

.smallPrint {
  font-size: .75rem;
}

.selectList {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 100%;
  margin-top: .5rem;
  overflow-y: scroll;
  max-height: 300px;
}

@media screen and (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}